@model D5MVC.Models.OrderDa


<h4>OrderDa</h4>
<h1>Last Order</h1>
<div style="border:2px solid black; width:250px;">
    <h5>Order ID : @Model.OrderID</h5>
    <h5>Order Date : @Model.OrderData</h5>
</div>